<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="registryUserMenu">
    <!-- Start Menu Gigaticket-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark fondogt">
      <!-- Navbar content -->
      <a class="navbar-brand" href="#">
        <img th:src="'images/gt_icon.ico'" width="30" height="30" class="d-inline-block align-top rounded img-fluid" alt="Gigaticket">
        <strong> Registros</strong>

      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">
            <a class="nav-link" href="#"><strong> Administracion</strong> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <strong> Menu</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" th:href="'/myProfile'">Mi perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="'/logout'">Cerrar Sesion</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Atras</a>
            </div>
          </li>
        </ul>

        <h6 th:style="'color:#fff;'"> Bienvenido <b th:text="${user}"></b> Administrador de Gigaticket </h6>

      </div>
    </nav>
  </div>
</body>
</html>