<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: head}">
</head>
<style>
    body{
      background-image: url(/images/NEON.png);
      background-size: cover;
      background-attachment: fixed;
    }
    .h3{
      color:#006699;
      text-shadow: #000000 1px 3px 1px;
      text-align: left;
    }
    .door, .card {
      border: 8px solid #008080;
       box-shadow: #CCCCCC 3px 3px 8px;
    }
    .a{
      font-family: 'Righteous', cursive;
    }

</style>
<body>
<!-- Start Menu Gigaticket-->
<div th:insert="~{fragments/registryUserMenu :: clientMenu}"></div>
<!-- Finish Menu Gigaticket-->
<!-- Start Container-->
<!--table start  -->
<div class="container ">
    <div class="container-fluid  mt-5 table-responsive-xl">
        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <button th:style="'margin:0 !important;'"  class="btn btn-outline-info btn-block m-3  " name="btn-client" id="btn-client" >Agregar Cliente</button>
                </div>
                <div class="col-3 text-center">
                    <input class="form-control " id="myInput" type="text" placeholder="Search..">
                </div>
            </div>
        </div>
        <div class="row d-flex  ">
            <div class="col-xl-12 text-center">
                <!--//todo mapear la tabla dinamica de personal y agregar las acciones -->
                <table class="table table-hover table-bordered">
                    <thead class="text-light text-center fondogt">
                    <tr class="">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Código RFID</th>
                        <th>Espacio</th>
                        <th>Fecha de ingreso</th>
                        <th>Fecha de egreso</th>
                        <th>Hora de ingreso</th>
                        <th>Hora de egreso</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody class="text-center table-primary" id="userTableBody">
                    <tr th:each="client : ${clientList}">
                        <td th:text="${client.id}"></td>
                        <td th:text="${client.name}"></td>
                        <td th:text="${client.firstName}"></td>
                        <td th:text="${client.lastName}"></td>
                        <td th:text="${client.phoneNumber}"></td>
                        <td th:text="${client.email}"></td>
                        <td th:text="${client.rfidCode}"></td>
                        <td th:text="${client.space}"></td>
                        <td th:text="${client.admissionDate}"></td>
                        <td th:text="${client.egressDate}"></td>
                        <td th:text="${client.admissionTime}"></td>
                        <td th:text="${client.egressTime}"></td>
                        <td th:id="${'clientUpdate-' + client.id}"><button class="btn-info" onclick="showModal(this)" >Editar</button></td>
                        <td th:id="${'clientDelete-' + client.id}"><button class="btn-danger" onclick="showDeleteModal(this)">Eliminar</button></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div id="res" class="text-center">

    </div>
    <br>
    <!--boton actualizar start -->
    <div class="row justify-content-center m-2">
        <div class="col-sm-3 text-center">

            <div class="form-group">
                <button  class="btn btn-outline-info btn-lg btn-block m-3  " name="btnUpdateTable" id="btnUpdateTable">
                    Actualizar tabla
                </button>
            </div>
        </div>
    </div>
    <!--boton actualizar finish -->
</div>
<!-- Table finish -->
<!-- Finish Container-->
<!-- modal user-->
<div th:insert="~{fragments/modals :: modalClient}"></div>
<div th:insert="~{fragments/modals :: deleteClient}"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/utils/utilFunctions.js"></script>
<script src="/js/validations/client.js"></script>

</body>
</html>